@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --blue: #1e90ff;
  --yellow: #efff16;
  background-color: rgb(15, 15, 15);
}

* {
  margin: 0;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section h1 {
  max-width: 500px;
  font-size: 6rem;
  line-height: 5rem;
  background: linear-gradient(
    to bottom right,
    var(--blue),
    rgb(56, 180, 128),
    var(--yellow)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 2rem;
  text-align: end;
  text-transform: uppercase;
}

.section h1 em {
  all: unset;
  -webkit-text-fill-color: rgb(15, 15, 15);
  -webkit-text-stroke: 4px transparent;
}
.section.light h1 em {
  all: unset;
  font-style: italic;
  -webkit-background-clip: unset;
  background-clip: unset;
}

.section p {
  margin: 2rem;
  max-width: 500px;
}

.section {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  text-align: start;
}

#logo {
  height: 100px;
  margin: 1rem;
  grid-column-start: 1;
  grid-column-end: 2;
}

.bullet-container {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
  gap: 2rem;
}

.bullet-container div {
  flex: 1 1 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1rem;
  border-radius: 2rem;
  max-width: 300px;
}

.flex-direction-override {
  flex-direction: column;
}

.testimonial-img {
  border-radius: 50%;
  height: 120px;
  padding: 1rem;
  width: auto;
}

.quote-container {
  display: flex;
  flex-direction: column;
}

.quote-container h5 {
  color: rgba(0, 0, 0, 0.8);
}

.testimonial-card {
  background-color: rgba(255, 255, 255, 0.1);
  min-width: 300px;
  max-width: 300px;
  height: 500px;
  border-radius: 3rem;
  box-sizing: border-box;
  padding: 3rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: -500px;
  animation: carousel 40s linear 0s;
}

.testimonial-card:hover {
  background: linear-gradient(to bottom right, #06182b, #252618);
}

#carousel {
  position: relative;
  width: 100vw;
  height: calc(500px + 2rem);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  text-align: start;
  color: white;
  background-color: black;
}

@keyframes carousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2400px);
  }
}

.testimonial-card em {
  font-weight: 800;
  background: linear-gradient(
    to bottom right,
    var(--blue),
    rgb(56, 180, 128),
    var(--yellow)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dark {
  background-color: rgb(15, 15, 15);
  /* background: linear-gradient(to bottom right, #06182b, #252618); */
  color: white;
}

.light {
  background-color: rgb(230, 230, 230);
  color: black;
}

.large {
  min-height: 600px;
}

.medium {
  min-height: 400px;
}

.small {
  min-height: 250px;
}

#graph {
  display: flex;
  align-items: center;
  gap: 2rem;
}

#graph svg {
  height: 150px;
  width: auto;
  transition: all 0.3s;
}

#content-graph {
  display: flex;
  align-items: center;
  justify-content: center;
}

#content-graph svg {
  width: 50vw;
}

.CTA-button {
  all: unset;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 1rem;
  border-radius: 50px;
  background: linear-gradient(
    to bottom right,
    var(--blue),
    rgb(56, 180, 128),
    var(--yellow)
  );
  color: white;
  height: fit-content;
  align-self: center;
}

.question-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  animation: fadein 1s ease-in-out 0.3s both;
}

.question-input {
  display: flex;
  width: 100%;
  padding: 2rem;
}

.question-text {
  font-size: 0.8rem;
  width: 100%;
}

.question-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: fit-content;
  width: fit-content;
  align-self: center;
  justify-self: start;
  padding-left: 0;
  animation: fadein 1s ease-in-out 0.6s both;
}

.question-option {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 50px;
  background: linear-gradient(
    to bottom right,
    var(--blue),
    rgb(56, 180, 128),
    var(--yellow)
  );
  background-size: 150%;
  color: white;
  font-weight: 600;
  height: fit-content;
  width: 150px;
}

#calculator-wrapper {
  /* display: none; */
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  width: 100vw;
  height: 10rem;
  backdrop-filter: blur(150px);
  position: fixed;
  top: 0;
  z-index: 2;
  transition: all 1s;
  color: white;
  box-sizing: border-box;
}

#calculator-wrapper h1 {
  font-size: 2rem;
}

#calc-nav {
  display: none;
  gap: 0.5rem;
  margin: 2rem 1rem;
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: end;
  height: fit-content;
}

#calc-container {
  grid-template-columns: auto auto;
  grid-template-rows: auto 1fr;
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0px;
  width: 0px;
  padding: 1.1rem;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 300;
}

#calculator-wrapper:hover #graph svg {
  height: 250px;
  width: auto;
}
#calculator-wrapper ul > li,
button {
  cursor: pointer;
}

#results-and-submit-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

#weight-select-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

#weight {
  display: flex;
}

#weightType {
  margin: 1rem;
  border-radius: 1rem;
  padding: 0.25rem;
}

#weightValue {
  margin: 1rem;
  border-radius: 1rem;
  border: none;
  padding: 0.25rem;
}

#data-summary {
  display: flex;
  flex-direction: column;
}

#form-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 600px;
  justify-content: center;
  align-items: center;
}
#form-wrapper form {
  display: flex;
  flex-direction: column;
}

#progress-bar {
  width: auto;
  margin: 4.5rem;
  border: solid 1px white;
  grid-column-start: 1;
  grid-column-end: 3;
  height: 0.4rem;
  border-radius: 5px;
  animation: fadein 1s ease-in-out 0.6s both;
  overflow: hidden;
}

#progress {
  width: 0%;
  height: 20px;
  background: linear-gradient(
    to right,
    var(--blue),
    rgb(56, 180, 128),
    var(--yellow)
  );
  transition: all 0.5s ease-in;
}

/*animated graph*/

#monday,
#tuesday,
#wednesday,
#thursday,
#friday,
#saturday,
#sunday {
  transform-origin: 0% 3%;
  scale: 1 1.2;
  animation-name: scalebar;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#tuesday {
  animation-delay: 0.5s;
}

#wednesday {
  animation-delay: 0.24s;
}
#thursday {
  animation-delay: 0.65s;
}
#friday {
  animation-delay: 0.89s;
}
#saturday {
  animation-delay: 1.5s;
}
.stop1 {
  stop-color: var(--yellow);
}

.stop2 {
  stop-color: rgb(56, 180, 128);
}

.stop3 {
  stop-color: var(--blue);
}
@keyframes scalebar {
  from {
    scale: 1 1.2;
  }

  to {
    scale: 1 0.8;
  }
}

@media screen and (max-width: 850px) {
  .section {
    flex-direction: column;
  }
  .section h1 {
    font-size: 5rem;
    line-height: 4rem;
  }

  .bullet-container {
    flex-direction: column;
  }
}

/* section animation */

.section > * {
  overflow: hidden;
  transform: translateY(100px);
  opacity: 0;
}

.section > .active {
  transform: translateY(0px);
  opacity: 100;
  transition: transform 0.5s ease-out, opacity 0.8s ease-in;
}

/* question fade in animation */

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
